*
  box-sizing: border-box
body
  font-family: sans-serif
img
  max-width: 100%
.container
  max-width: 1170px
  margin: 0 auto
@media (max-width: 1200px)
  .container
    max-width: 960px
    width: 95%
@media (max-width: 768px)
  .container
    max-width: 720px
    width: 95%
.button
  border-radius: 10px
  background-color: $main-color
  border: none
  cursor: pointer